*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

ol {
    list-style: none;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #4a4a4a;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px !important; 
}

.header {
    
    background: url(descarga.png) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px ;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.intro {
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 20px;
    color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 60px;
    font-size: 20px;
    color: #c44cd6 ;
    text-decoration: none;
    
    
}

.btn:hover {
    background: #4a055748;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.sau {
    
    
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 12rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p {
    padding: 0 5px;
    font-size: 16px;
}

.about {
    
    background: #171717;
}

.about {
    
    text-align: center;
}

.study {
    background: #1b1a1a;
}
.price {
    background: url(img/descarga.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}



.end {
    margin-top: 30px;
    font-size: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    
    .content {
        margin-bottom: 0;
        padding: 20px;
        
    }

    .navbar {
        display: none;
    }
}